/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-dark-bg: #1f1f1f;
}

/* Snackbar Styles */
.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: rgb(31, 41, 55);
  --mat-snack-bar-button-color: rgb(96, 165, 250);
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: rgb(243, 244, 246);
}

.snackbar-success .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: rgb(34, 197, 94);
}

.snackbar-success .mdc-snackbar__label {
  color: white;
}
